*{
	padding:0px;
	margin:0px;
}
body{
	background-color: hsl(29, 25%, 63%);
}

header{
	width:100%;
	position: fixed;
	z-index:20;
	border-bottom: 2px solid hsl(0, 0%, 60%);
}
header ul{
	background-color: hsla(29, 100%, 13%, 0.9);
	text-align: center;
	padding: 20px 0px;
}
header ul:hover{
	border-bottom: 2px solid #fff;
}
header li{
	display: inline;
	font-size: 25px;
	margin: 0px 20px;
	letter-spacing:2px;
	font-weight: bold;
}

.active{
	color: #000;
}
header a{
	text-decoration:none;
	color: hsl(0, 0%, 60%);
}
header a:hover{
	color: hsl(0, 10%, 10%);
}
.headcon:hover .icofont-beans{
	color: hsl(0, 10%, 10%);
}
.headcon:hover a{
	color: hsl(0, 10%, 10%);
}
.icofont-beans{
	font-size: 27px;
	color: hsl(0, 0%, 60%);
}

.pustydiv{
	padding-top: 70px;
	background-color:hsl(29, 25%, 63%);
}

.gmap{
	display:grid;
	grid-template-columns: 1fr 700px 1fr;
}
.map{
	padding:25px 0px;
	margin:25px 5px;
}
.map.con1{
	display:grid;
	grid-template-rows:175px 200px;
}
.con1.openhours .opendays{
	text-align:left;
	line-height:2rem;
	margin-left:20px;
	margin-top:20px
}

.map.con1 p{
	text-align:center;
	font-size:25px;
	margin-top:35px;
}
.map.con2{
	text-align:center;
	border:2px solid black;
	border-radius:10px;
}
.map.con3{
	font-size:10px;
	padding-top:0px;
	padding-left:40px;
}

.nadfooter{
	height:200px;
	background-color: hsla(0, 0%, 0%, 0.75);
	border-top: 1px solid Black;
}
.nadfooter a{
	color: #fff;
}
.nadfooter a:hover{
	color: hsl(29, 25%, 63%);
}
.grid{
	margin: 0px 200px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 70px 25px 25px;
}
.box.a, .b, .c, .d{
	font-size: 26px;
	padding-top:30px;
	letter-spacing:2px;
}
.box a:hover{
	text-decoration: underline ;
}


.podfooter{
	height:100px;
	background-color: hsla(0, 0%, 0%, 0.8);
}
.podfootergrid{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 100px;
}

.pfg.p1{
	grid-area: 1 / 1 /span 1/span 2;
}
.pfg.p1 p{
	color: #fff;
	padding-top:40px;
	margin-left:80px;
}


.icofont-facebook{
	color:#fff;
	font-size: 45px;
	float: left;
	margin:20px 50px 40px 50px;
	padding:5px;
}
.icofont-facebook:hover{
	color: hsl(221, 44%, 41%);
}

.icofont-instagram{
	color:#fff;
	font-size: 45px;
	float: left;
	margin: 20px 0px 40px 50px;
	padding:5px;
 
}
.icofont-instagram:hover{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
a{
	text-decoration:none;
	color: hsl(0, 0%, 60%);
}
a:hover{
	color:#000;
}