*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
    background-color: hsl(29, 15%, 35%);
    height: 100%;
}
header {
    width: 100%;
    position: relative;
    z-index: 20;
    border-bottom: 2px solid hsl(0, 0%, 60%);
}
header a{
	text-decoration:none;
	color: hsl(0, 0%, 60%);
}
header a:hover{
	color: hsl(0, 10%, 10%);
}
.headcon:hover .icofont-beans{
	color: hsl(0, 10%, 10%);
}
.icofont-beans{
	font-size: 27px;
	color: hsl(0, 0%, 60%);
}
.active{
	color: #000;
}
.icofont-navigation-menu{
	font-size:40px;
	color:gray;
	margin-right:5px;
}
a {
    text-decoration: none;
    color: hsl(0, 0%, 60%);
}
header .header-mobile{
	display:none;
}
header ul {
    background-color: hsla(29, 100%, 13%, 0.9);
    text-align: center;
    padding: 20px 0px;
}

header li {
    display: inline;
    font-size: 25px;
    margin: 0px 20px;
    letter-spacing: 2px;
    font-weight: bold;
}
.calazawartosc{
	margin:0 10%;
}
.short-description{
	margin-top:50px;
	position:relative;
	width:100%;
	text-align: center;
	font-size: 45px;
	text-align: center;
	line-height: 50px;
	color: hsl(29, 25%, 80%);
	font-family: "Caveat";
}
.art-secound{
	padding-top:50px;
}
.only-border{
	height:3px;
	width:100%;
	background: linear-gradient(to right,hsl(29, 15%, 35%), hsl(29, 15%, 35%), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsl(29, 15%, 35%), hsl(29, 15%, 35%));)
}

.opcje ul{
	text-align: center;
	margin:20px 0px
}
.opcje ul li{
	display: inline;
	margin:0 10px;
	font-size:25px;
}
.opcje a{
	color:white;
}
.opcje a:hover{
	color: hsl(29, 19%, 60%);
}
.cale-menu{
	display: inline-block;
  padding-top: 30px;
  text-align: center;
  border-top: 2px solid hsl(29, 25%, 63%);
  margin-bottom: 50px;
  background-color: hsl(29, 25%, 63%);
  font-family: serif;
	width:100%;
}
.menu-description{
	position: relative;
	width:90%;
	margin:20px 5%;
	display: inline-block;
}
.menu-option{
	padding:50px 0;
	font-size:30px;
}

.card{
	display: inline-block;
  width:295px;
  height:228px;
  position: relative;
  border-radius:46px;
  overflow: hidden;
	margin:25px 25px;
}
.card div{
  position: absolute;
}
.card.nr1 .img{
	background: url(./img/latte.jpg);
  background-size: cover;
	background-position: 10px -3rem;
	transform: rotate(10deg);
	margin-left:-40px;
}
.card.nr2 .img{
	background: url(./img/americano.jpg);
  background-size: cover;
	background-position: 10px -4rem;
	margin-left:-40px;
}
.card.nr3 .img{
	background: url(./img/white%20americano.jpg);
  background-size: cover;
	background-position: 10px -4rem;
	margin-left:-40px;
}
.card.nr4 .img{
	background: url(./img/cappucino.jpg);
  background-size: cover;
	background-position: 50px -6rem;
	margin-left:-40px;
}
.card.nr5 .img{
	background: url(./img/espresso.jpg);
  background-size: cover;
	background-position: 10px -5rem;
	margin-left:-40px;
}
.card.nr6 .img{
	background: url(./img/espresso%20doppio.jpg);
  background-size: cover;
	background-position: 10px -5rem;
	margin-left:-40px;
}
.card.nr7 .img{
	background: url(./img/espresso%20macchiato.jpg);
  background-size: cover;
	background-position: 10px -7rem;
	margin-left:-40px;
}
.card.nr8 .img{
	background: url(./img/flat%20white.jpg);
  background-size: cover;
	background-position: 10px -4rem;
	margin-left:-40px;
}
.card.nr9 .img{
	background: url(./img/Whipped%20cream%20mocha.jpg);
  background-size: cover;
	background-position: 40px -8rem;
	margin-left:-40px;
}
.card.nr10 .img{
	background: url(./img/frozen%20mango%20coffe.jpg);
  background-size: cover;
	background-position: 20px -1rem;
	margin-left:-40px;
}
.card.nr11 .img{
	background: url(./img/cappucino%20frappe.jpg);
  background-size: cover;
	background-position: 30px -2rem;
	margin-left:-40px;
}
.card.nr12 .img{
	background: url(./img/whited%20iced%20latte.jpg);
  background-size: cover;
	background-position: 20px -1rem;
	margin-left:-40px;
}
.card.nr13 .img{
	background: url(./img/ciabatta%20z%20szynka%20dojrzewajaca.jpg);
  background-size: cover;
	background-position: 10px -8rem;
	margin-left:-40px;
}
.card.nr14 .img{
	background: url(./img/ciabatta%20z%20jajkiem%20i%20bekonem.jpg);
  background-size: cover;
	background-position: 20px -6rem;
	margin-left:-40px;
}
.card.nr15 .img{
	background: url(./img/kanapka%20z%20jajkiem.jpg);
  background-size: cover;
	background-position: 30px -5rem;
	margin-left:-40px;
}
.card.nr16 .img{
	background: url(./img/kanapka%20z%20mozzarella.jpg);
  background-size: cover;
	background-position: 20px -6rem;
	margin-left:-40px;
}
.card.nr17 .img{
	background: url(./img/Croissant.jpg);
  background-size: cover;
	background-position: 10px -3rem;
	margin-left:-40px;
}
.card.nr18 .img{
	background: url(./img/muffin%20jabłkowy.jpg);
  background-size: cover;
	background-position: 10px -3rem;
	margin-left:-40px;
}
.card.nr19 .img{
	background: url(./img/muffin%20truflowy.jpg);
  background-size: cover;
	background-position: 10px -10rem;
	margin-left:-40px;
}
.card.nr20 .img{
	background: url(./img/fruit%20spot.jpg);
  background-size: cover;
	background-position: 30px -4rem;
	margin-left:-40px;
}
.card.nr21 .img{
	background: url(./img/yogo%20fruit.jpg);
  background-size: cover;
	background-position: 30px -4rem;
	margin-left:-40px;
}
.img{
    width:325px;
    z-index:1;
    height:230px;
    top:-80px;
    transform: rotate(15deg);
    border-bottom-right-radius: 8rem;
		border-bottom:2px solid black;
		border-right:0.5px solid black;
    background-color: #b4b4b4;
    overflow:hidden;
}
.content{
	width:295px;
	height:228px;
	border-radius:46px;
	display:flex;
	justify-content: space-between;
	padding:1.5rem;
	background-color: hsl(29, 15%, 35%);
	box-shadow:0px 0px 10px hsl(29, 25%, 63%) inset;
}
h4{
	font-size:22px;
	margin: 0rem 0 -10px;
	font-weight:900;
	color:#fff;
}
.right{
	position:relative !important;
	display:flex;
	justify-content: flex-end;
	height:100%;
	flex-direction: column;
}
.left{
	position:relative !important;
	flex-direction: column;
	display:flex;
	justify-content: flex-end;
}
.left h4{
	color:darkred;
	text-align: right;
	font-size:20px;
}
.stars{
	position:relative;
}





footer {
    position: relative;
    width: 100%;
    font-family: serif;
}

.nadfooter {
    height: 185px;
    background-color: #29241E;
    border-top: 1px solid Black;
}
.grid {
    margin: 0px 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.box.a, .b, .c, .d {
    font-size: 26px;
    padding-top: 30px;
    letter-spacing: 2px;
    margin: 0px 10px;
}
.box .icofont-curved-down {
    display: none;
}
.nadfooter .main-li {
    font-size: 22px;
    padding-bottom: 10px;
    font-size: 24px;
}
.nadfooter li {
    display: block;
    font-size: 16px;
    margin: 7px 0px;
}
.nadfooter a {
    color: #fff;
}
.nadfooter a:hover{
	color: hsl(29, 25%, 63%);
}


.podfooter {
    height: 100px;
    background-color: #25201B;
}

.podfootergrid {
    display: grid;
    grid-template-columns: 9fr 2fr;
    grid-template-rows: 100px;
}
.pfg.p1 {
    grid-area: 1 / 1 /span 1/span 1;
}

.pfg.p1 p {
    color: #fff;
    padding-top: 40px;
    margin-left: 80px;
    font-size: 20px;
}
.pfg.p2 {
    grid-area: 1/2/span 1/span 1;
}
.pfg.p2 li {
    display: inline;
}
.icofont-instagram {
    color: #fff;
    font-size: 55px;
    float: left;
    margin: 22px 10px;
}
.icofont-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.icofont-facebook{
	font-size: 55px;
	float: left;
	margin: 22px 10px 23px 30px;
	color:#fff;
}
.icofont-facebook:hover {
    color: hsl(221, 44%, 41%);
}
@media only screen and (min-width:300px) and (max-width:356px){
	*{
		padding:0px;
		margin:0px;
	}
	header .header-SDdesk{
		display:none;
	}
	.nav-bar-mob{
		display: inline;
		float:right;
		margin:5px 0px 0px;
	}
	.icofont-navigation-menu{
		font-size:40px;
		color:gray;
	}
	.menu-li{
		padding-bottom:10px;
		text-align: center;
		background-color: hsla(29, 100%, 13%, 0.9);
		border: none;
	}
	.menu-li a{
		font-size:40px;
		padding-bottom: 20px;
	}

	.menu {
		background-color: hsl(29, 45%, 23%);
		transform:scaleY(0);
		transform-origin:top;
		margin-top: -1px;
	}
	.icofont-beans{
		margin-left:0px;
	}
	header .header-mobile{
		text-align: center;
		display:block;
		position:fixed;
		width:100%;
		margin-top:0;
		top:0;
		left:0;
	}
	header .header-mobile ul{
		padding-top:5px;
		padding-bottom:5px;
		border:none;
		background-color: hsla(29, 100%, 13%, 0.9);
	}
	header li{
		padding:0px 0px 10px 0px;
		display:block;
	}
	.main_container{
		padding-bottom:0 !important;
	}
	.pustydiv{
		display:none;
	}

	.calazawartosc{
		margin:30px 0px 0px;
	}
	.opis > p{
		margin:0px 20px;
		font-size: 40px;
	}
	.opis .ppytanie{
		padding-top:40px;
		line-height: 50px;
	}
	.mozliwosci{
		border-top:3px solid transparent;
		border-image: linear-gradient(90deg,  hsl(29, 15%, 35%), hsl(29, 25%, 63%),  hsl(29, 15%, 35%));
		border-image-slice: 1;
	}
	.mozliwosci ul{
		text-align: center;
		padding-bottom: 25px;
		padding-top: 15px;
	}
	.mozliwosci li{
		display: block;
		font-size: 25px;
		margin:0px;
		padding:10px 0px;
	}
	.wszystkiekawy{
		background-color: hsl(29, 25%, 63%);
		margin:0px;
		width:100%;
	}
	.wszystkiekawy img{
		width:110px;
		height:145px;
	}
	.description{
		font-size:33px;
	}
	.grid_ciep_kaw{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4,288px) ;
	}
	.grid_zim_kaw{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 288px;
	}
	.grid_sniadanie{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(2,288px) ;
	}
	.grid_desery{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(2,288px) ;
	}
	.pojemnik .imgpoj{
		width:130px;
		height:145px;
		padding:0 1px;
	}
	.pojemnik{
		text-align: center;
		display: inline-block;
		width: 130px;
		height: 250px;
		padding: 7px;
		margin: 10px auto;
		overflow: auto;
	}

	.pojemnik > p{
		font-size: 20px;
		padding:20px 0px 0px 0px;
	}

	footer{
		position:relative;
	}
	.nadfooter{
		height:auto;
		padding: 0;
		background-color: #29241E;
	}
	.grid{
		display: block;
		margin:10px;
	}
	.box ul{
		padding:0px;
		transform:ScaleY(0);
		transform-origin:top;
	}
	.box li{
		padding-bottom:5px;
		margin:0px 15px;
	}
	.box h3{
		margin:0px 15px;
	}
	.box .icofont-curved-down{
		float:right;
		font-size: 35px;
		color:white;
		background-color: inherit;
		border:none;
		display:inline;
	}
	.box.a, .b, .c, .d{
		width:100%;
		font-size: 26px;
		padding:0px 0px;
		letter-spacing:2px;
		height:40px;
	}
	.box.active{
		height:auto;
	}
	.box.active ul{
		transform:ScaleY(1);
		padding-bottom: 10px;
	}
	.podfooter{
		margin-top:-10px;
	}
	.podfootergrid{
		grid-template-columns: 7fr 5fr;
	}
	.pfg.p1 p{
		margin-left:20px;
	}
	.icofont-instagram{
		font-size:35px;
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.icofont-facebook{
		float:right;
		font-size:35px;
		margin-left:0px;
		color: hsl(221, 44%, 41%);
	}
}








@media only screen and (min-width:357px)  and (max-width: 518px) {

  *{
		padding:0px;
		margin:0px;
	}
	header .header-SDdesk{
		display:none;
	}
	.nav-bar-mob{
		display: inline;
		float:right;
		margin:5px 0px 0px;
	}
	.icofont-navigation-menu{
		font-size:40px;
		color:gray;
	}
	.menu-li{
		padding-bottom:10px;
		text-align: center;
		background-color: hsla(29, 100%, 13%, 0.9);
		border: none;
	}
	.menu-li a{
		font-size:40px;
		padding-bottom: 20px;
	}
	.menu {
		background-color: hsl(29, 45%, 23%);
		transform:scaleY(0);
		transform-origin:top;
		margin-top: -1px;
	}
	.icofont-beans{
		margin-left:0px;
	}
	header .header-mobile{
		text-align: center;
		display:block;
		position:fixed;
		width:100%;
		margin-top:0;
		top:0;
		left:0;
	}
	header .header-mobile ul{
		padding-top:5px;
		padding-bottom:5px;
		border:none;
		background-color: hsla(29, 100%, 13%, 0.9);
	}
	header li{
		padding:0px 0px 10px 0px;
		display:block;
	}
	.main_container{
		padding-bottom:0 !important;
	}
	.pustydiv{
		display:none;
	}

	.calazawartosc{
		margin:30px 0px 0px;
	}
	.opis > p{
		margin:0px 20px;
		font-size: 40px;
	}
	.opis .ppytanie{
		padding-top:40px;
		line-height: 50px;
	}
	.mozliwosci{
		border-top:3px solid transparent;
		border-image: linear-gradient(90deg,  hsl(29, 15%, 35%), hsl(29, 25%, 63%),  hsl(29, 15%, 35%));
		border-image-slice: 1;
	}
	.mozliwosci ul{
		text-align: center;
		padding-bottom: 25px;
		padding-top: 15px;
	}
	.mozliwosci li{
		display: block;
		font-size: 25px;
		margin:0px;
		padding:10px 0px;
	}
	.wszystkiekawy{
		background-color: hsl(29, 25%, 63%);
		margin:0px;
		width:100%;
	}
	.wszystkiekawy img{
		width:110px;
		height:150px;
	}
	.grid_ciep_kaw{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4,293px) ;
	}
	.grid_zim_kaw{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 293px;
	}
	.grid_sniadanie{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(2,293px) ;
	}
	.grid_desery{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(2,293px) ;
	}

	.pojemnik .imgpoj{
		width:130px;
		height:158px;
		padding:0px;
		margin:0 auto;
	}
	.pojemnik{
		text-align: center;
		display: inline-block;
    width: 140px;
    height: 255px;
    padding: 7px;
    margin: 10px auto;
    overflow: auto;
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(59deg, hsla(29, 100%, 13%, 0.9), hsla(29, 25%, 63%,0), hsla(29, 25%, 63%,0), hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.pojemnik > p{
		font-size: 20px;
		padding:20px 0px 0px 0px;
	}

	footer{
		position: relative;
	}
	.nadfooter{
		height:auto;
		padding: 0;
		background-color: #29241E;
	}
	.grid{
		display: block;
		margin:10px;
	}
	.box ul{
		padding:0px;
		transform:ScaleY(0);
		transform-origin:top;
	}
	.box li{
		padding-bottom:5px;
		margin:0px 15px;
	}
	.box h3{
		margin:0px 15px;
	}
	.box .icofont-curved-down{
		float:right;
		font-size: 35px;
		color:white;
		background-color: inherit;
		border:none;
		display:inline;
	}
	.box.a, .b, .c, .d{
		width:100%;
		font-size: 26px;
		padding:0px 0px;
		letter-spacing:2px;
		height:40px;
	}
	.box.active{
		height:auto;
	}
	.box.active ul{
		transform:ScaleY(1);
		padding-bottom: 10px;
	}
	.podfooter{
		margin-top:-10px;
		background-color: #25201B;
	}
	.podfootergrid{
		grid-template-columns: 7fr 3fr;
	}
	.pfg.p1 p{
		margin-left:20px;
	}
	.icofont-instagram{
		font-size:35px;
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	  -webkit-background-clip: text;
	  background-clip: text;
	  -webkit-text-fill-color: transparent;
	}
	.icofont-facebook{
		float:right;
		font-size:35px;
		margin-left:0px;
		color: hsl(221, 44%, 41%);
	}
}









@media only screen and (min-width:519px) and (max-width:679px){
  *{
		padding:0px;
		margin:0px;
	}
	header .header-SDdesk{
		display:none;
	}
	.nav-bar-mob{
		display: inline;
		float:right;
		margin:5px 0px 0px;
	}
	.icofont-navigation-menu{
		font-size:40px;
		color:gray;
	}
	.menu-li{
		padding-bottom:10px;
		text-align: center;
		background-color: hsla(29, 100%, 13%, 0.9);
		border: none;
	}
	.menu-li a{
		font-size:40px;
		padding-bottom: 20px;
	}
	.menu {
		background-color: hsl(29, 45%, 23%);
		transform:scaleY(0);
		transform-origin:top;
		margin-top: -1px;
	}
	.icofont-beans{
		margin-left:0px;
	}
	header .header-mobile{
		text-align: center;
		display:block;
		position:fixed;
		width:100%;
		margin-top:0;
		top:0;
		left:0;
	}
	header .header-mobile ul{
		padding-top:5px;
		padding-bottom:5px;
		border:none;
		background-color: hsla(29, 100%, 13%, 0.9);
	}
	header li{
		padding:0px 0px 10px 0px;
		display:block;
	}
	.main_container{
		padding-bottom:0 !important;
	}
	.pustydiv{
		display:none;
	}
	.calazawartosc{
		margin:30px 0px 0px;
	}
	.opis > p{
		margin:0px 20px;
		font-size: 37px;
	}
	.opis .ppytanie{
		padding-top:40px;
		line-height: 50px;
	}
	.mozliwosci{
		border-top:3px solid transparent;
		border-image: linear-gradient(90deg,  hsl(29, 15%, 35%), hsl(29, 25%, 63%),  hsl(29, 15%, 35%));
		border-image-slice: 1;
	}
	.mozliwosci ul{
		text-align: center;
		padding-bottom: 25px;
		padding-top: 15px;
	}
	.mozliwosci li{
		display: block;
		font-size: 25px;
		margin:0px;
		padding:10px 0px;
	}
	.wszystkiekawy{
		background-color: hsl(29, 25%, 63%);
		margin:0px 8%;
		margin-bottom: 10px;
		width:84%;
	}
	.wszystkiekawy img{
		width:140px;
		height:175px;
	}
	.grid_ciep_kaw{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4,357px) ;
	}
	.grid_zim_kaw{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 357px;
	}
	.grid_sniadanie{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(2,357px) ;
	}
	.grid_desery{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(2,357px) ;
	}
	.pojemnik .imgpoj{
		width:160px;
		height:175px;
		padding:0;
		margin-left:-5px;
	}
	.pojemnik{
		display: inline-block;
    width: 150px;
    height: 285px;
    padding: 15px;
    margin: 20px auto;
    overflow: auto;
	}

	.pojemnik > p{
		font-size: 20px;
		padding:20px 0px 0px 0px;
	}

	footer{
		width:100%;
		position:relative;
	}
	.nadfooter{
		height:auto;
		padding: 0;
		margin-bottom:-10px;
		background-color: #29241E;
	}
	.grid{
		display: block;
		margin:10px;
	}
	.box ul{
		padding:0px;
		transform:ScaleY(0);
		transform-origin:top;
	}
	.box li{
		padding-bottom:5px;
		margin:0px 15px;
	}
	.box h3{
		margin:0px 15px;
	}
	.box.a, .b, .c, .d{
		width:100%;
		font-size: 26px;
		padding:0px 0px;
		letter-spacing:2px;
		height:45px;
	}
	.box .icofont-curved-down{
		float:right;
		font-size: 35px;
		color:white;
		background-color: inherit;
		border:none;
		display:inline;
		padding:7px;
		margin-top:-6px;
	}
	.box.active{
		height:auto;
	}
	.box.active ul{
		transform:ScaleY(1);
		padding-bottom: 10px;
	}
	.podfooter{
		background-color: #25201B;
	}
	.podfootergrid{
		grid-template-columns: 10fr 4fr;
	}
	.pfg.p1 p{
		margin-left:20px;
	}
	.icofont-instagram{
		font-size:45px;
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	  -webkit-background-clip: text;
	  background-clip: text;
	  -webkit-text-fill-color: transparent;
	}
	.icofont-facebook{
		float:right;
		font-size:45px;
		margin-left:0px;
		margin-right:30px;
		color: hsl(221, 44%, 41%);
	}
}







@media only screen and (min-width:680px) and (max-width:760px){
	*{
		padding:0px;
		margin:0px;
	}
	header .header-SDdesk{
		display:none;
	}
	.nav-bar-mob{
		display: inline;
		float:right;
		margin:5px 0px 0px;
	}
	.icofont-navigation-menu{
		font-size:40px;
		color:gray;
	}
	.menu-li{
		padding-bottom:10px;
		text-align: center;
		background-color: hsla(29, 100%, 13%, 0.9);
		border: none;
	}
	.menu-li a{
		font-size:40px;
		padding-bottom: 20px;
	}
	.menu {
		background-color: hsl(29, 45%, 23%);
		transform:scaleY(0);
		transform-origin:top;
		margin-top: -1px;
	}
	.icofont-beans{
		margin-left:0px;
	}
	header .header-mobile{
		text-align: center;
		display:block;
		position:fixed;
		width:100%;
		margin-top:0;
		top:0;
		left:0;
	}
	header .header-mobile ul{
		padding-top:5px;
		padding-bottom:5px;
		border:none;
		background-color: hsla(29, 100%, 13%, 0.9);
	}
	header li{
		padding:0px 0px 10px 0px;
		display:block;
	}
	.main_container{
		padding-bottom:0 !important;
	}
	.pustydiv{
		display:none;
	}
	.calazawartosc{
		margin:30px 0px 0px;
	}
	.opis > p{
		margin:0px 20px;
		font-size: 37px;
	}
	.opis .ppytanie{
		padding-top:40px;
		line-height: 50px;
	}
	.mozliwosci{
		border-top:3px solid transparent;
		border-image: linear-gradient(90deg,  hsl(29, 15%, 35%), hsl(29, 25%, 63%),  hsl(29, 15%, 35%));
		border-image-slice: 1;
	}
	.mozliwosci ul{
		text-align: center;
		padding-bottom: 25px;
		padding-top: 15px;
	}
	.mozliwosci li{
		display: block;
		font-size: 25px;
		margin:0px;
		padding:10px 0px;
	}
	.wszystkiekawy{
		background-color: hsl(29, 25%, 63%);
		margin:0px 8%;
		margin-bottom: 10px;
		width:84%;
	}
	.wszystkiekawy img{
		width:140px;
		height:175px;
	}
	.grid_ciep_kaw{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: repeat(3,357px) ;
	}
	.grid_zim_kaw{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 357px;
	}
	.grid_sniadanie{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: repeat(2,357px) ;
	}
	.grid_desery{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: repeat(2,357px) ;
	}
	.pojemnik .imgpoj{
		width:160px;
		height:175px;
		padding:0;
		margin-left:-5px;
	}
	.pojemnik{
		display: inline-block;
		width: 150px;
		height: 285px;
		padding: 15px;
		margin: 20px auto;
		overflow: auto;
	}
	.pojemnik.no4{
		grid-area: 3 / 3 / 3/ 3;
	}
	.pojemnik.no5{
		margin-top:-420px;
		margin-bottom:30px;
	}
	.pojemnik.no6{
		grid-area:1 /3 /1 /3;
	}
	.pojemnik.no7{
		margin-top:-420px;
		margin-bottom:30px;
	}
	.pojemnik.no8{
		grid-area: 2/ 1/ 2/span 2;
	}
	.pojemnik.no9{
		margin-top:-420px ;
		margin-bottom:30px ;
		margin-left:200px;
	}
	.pojemnik.no10{
		grid-area: 2/ 2/ 2/ 2;
	}

	.pojemnik > p{
		font-size: 20px;
		padding:20px 0px 0px 0px;
	}

	footer{
		width:100%;
		position:relative;
	}
	.nadfooter{
		height:auto;
		padding: 0;
		margin-bottom:-10px;
		background-color: #29241E;
	}
	.grid{
		display: block;
		margin:10px;
	}
	.box ul{
		padding:0px;
		transform:ScaleY(0);
		transform-origin:top;
	}
	.box li{
		padding-bottom:5px;
		margin:0px 15px;
	}
	.box h3{
		margin:0px 15px;
	}
	.box.a, .b, .c, .d{
		width:100%;
		font-size: 26px;
		padding:0px 0px;
		letter-spacing:2px;
		height:45px;
	}
	.box .icofont-curved-down{
		float:right;
		font-size: 35px;
		color:white;
		background-color: inherit;
		border:none;
		display:inline;
		padding:7px;
		margin-top:-6px;
	}
	.box.active{
		height:auto;
	}
	.box.active ul{
		transform:ScaleY(1);
		padding-bottom: 10px;
	}
	.podfooter{
		background-color: #25201B;
	}
	.podfootergrid{
		grid-template-columns: 10fr 4fr;
	}
	.pfg.p1 p{
		margin-left:20px;
	}
	.icofont-instagram{
		font-size:45px;
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.icofont-facebook{
		float:right;
		font-size:45px;
		margin-left:0px;
		margin-right:30px;
		color: hsl(221, 44%, 41%);
	}
}




@media only screen and (min-width:761px) and (max-width: 1000px){
  *{
		padding:0px;
		margin:0px;
	}

	header{
		width:100%;
		z-index:20;
		border-bottom: 2px solid hsl(0, 0%, 60%);
	}
	header ul{
		background-color: hsla(29, 100%, 13%, 0.9);
		text-align: center;
		padding: 20px 0px;
	}
	header ul:hover{
		border-bottom: 2px solid #fff;
	}
	header li{
		display: inline;
		font-size: 25px;
		margin: 0px 20px;
		letter-spacing:2px;
		font-weight: bold;
	}

	.active{
		color: #000;
	}
	header a{
		text-decoration:none;
		color: hsl(0, 0%, 60%);
	}
	header a:hover{
		color: hsl(0, 10%, 10%);
	}
	.headcon:hover .icofont-beans{
		color: hsl(0, 10%, 10%);
	}
	.headcon:hover a{
		color: hsl(0, 10%, 10%);
	}
	.icofont-beans{
		font-size: 27px;
		color: hsl(0, 0%, 60%);
	}
	header .header-mobile{
		display:none;
	}

	.calazawartosc{
		margin:0px 0px 0px;
	}
	.opis > p{
		margin:0px 20px;
		font-size: 40px;
	}
	.opis .ppytanie{
		padding-top:40px;
		line-height: 50px;
	}
	.mozliwosci{
		border-top:3px solid transparent;
		border-image: linear-gradient(240deg, hsl(29, 15%, 35%), hsl(29, 15%, 35%), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsl(29, 15%, 35%), hsl(29, 15%, 35%));
		border-image-slice: 1;
	}
	.mozliwosci ul{
		text-align: center;
		padding-bottom: 25px;
		padding-top: 15px;
	}
	.mozliwosci li{
		display: inline;
		font-size: 25px;
		margin:0px 25px;
	}
	.grid_sniadanie{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: repeat(2,357px) ;
	}
	.mozliwosci a{
		color: white;
	}
	.wszystkiekawy{
		background-color: hsl(29, 25%, 63%);
		margin:0px 45px 10px;
	}
	.wszystkiekawy img{
		width:140px;
		height:175px;
	}
	.pojemnik .imgpoj{
		width:160px;
		height:175px;
		padding:0;
		margin-left:-5px;
	}
	.pojemnik{
		display: inline-block;
    width: 150px;
    height: 285px;
    padding: 15px;
    margin: 10px 10px;
    overflow: auto;
	}
	.pojemnik.c1{
		justify-self: end;
		margin-right:0;
	}
	.pojemnik.c2{
		margin: 0 auto;
		margin-top:10px;
	}
	.pojemnik.c3{
		margin-left:0px;
		justify-self: start;
	}
	.pojemnik.no8{
		grid-area: 2/ 1/ 2/span 2;
		margin-left:37%;
	}
	.pojemnik.no9{
		margin-top:-387px ;
		margin-left:240px;
		margin-bottom:42px;
	}
	.pojemnik > p{
		font-size: 20px;
		padding:20px 0px 0px 0px;
	}

	.nadfooter{
		height:165px;
		background-color: #29241E;
		border-top: 1px solid Black;
	}
	.nadfooter li{
		display:block;
		font-size:13px;
		margin:7px 0px;
	}

	.nadfooter .main-li{
	 font-size:22px;
	 padding-bottom:10px;
	}
	.grid{
		margin: 0px 50px;
		display: grid;
		grid-template-columns: repeat(2, 6fr) 8fr 9fr;
	}
	.box.a, .b, .c, .d{
		font-size: 26px;
		padding-top:30px;
		letter-spacing:2px;
		margin:0px 10px;
	}
	.box .icofont-curved-down{
		display:none;
	}
	.box a:hover{
		text-decoration: underline ;
	}

	.podfooter{
		height:100px;
		background-color: #25201B;
	}
	.podfootergrid{
		display: grid;
		grid-template-columns: 10fr 3fr;
		grid-template-rows: 100px;
	}
	.pfg.p1{
		grid-area: 1 / 1 /span 1/span 1;
	}
	.pfg.p1 p{
		color: #fff;
		padding-top:40px;
		margin-left:80px;
	}
	.pfg.p2{
		grid-area:1/2/span 1/span 1;
	}
	.pfg.p2 li{
		display:inline;
	}
	.icofont-facebook{
		color: hsl(221, 44%, 41%);;
		font-size: 55px;
		float: left;
		margin:22px 10px 23px 30px;
	}
	.icofont-instagram{
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	  -webkit-background-clip: text;
	  background-clip: text;
	  -webkit-text-fill-color: transparent;
		font-size:55px;
		float: left;
		margin:22px 10px ;
	}
}





@media only screen and (min-width:1001px) and (max-width: 1367px){
	*{
		padding:0px;
		margin:0px;
	}

	header{
		width:100%;
		z-index:20;
		border-bottom: 2px solid hsl(0, 0%, 60%);
	}
	header ul{
		background-color: hsla(29, 100%, 13%, 0.9);
		text-align: center;
		padding: 20px 0px;
	}
	header ul:hover{
		border-bottom: 2px solid #fff;
	}
	header li{
		display: inline;
		font-size: 25px;
		margin: 0px 20px;
		letter-spacing:2px;
		font-weight: bold;
	}
	.active{
		color: #000;
	}
	header a{
		text-decoration:none;
		color: hsl(0, 0%, 60%);
	}
	header a:hover{
		color: hsl(0, 10%, 10%);
	}
	.headcon:hover .icofont-beans{
		color: hsl(0, 10%, 10%);
	}
	.headcon:hover a{
		color: hsl(0, 10%, 10%);
	}
	.icofont-beans{
		font-size: 27px;
		color: hsl(0, 0%, 60%);
	}
	header .header-mobile{
		display:none;
	}
	.calazawartosc{
		margin:0px 0px 0px;
	}
	.opis > p{
		margin:0px 20px;
		font-size: 40px;
	}
	.opis .ppytanie{
		padding-top:40px;
		line-height: 50px;
	}
	.mozliwosci{
		border-top:3px solid transparent;
		border-image: linear-gradient(240deg, hsl(29, 15%, 35%), hsl(29, 15%, 35%), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsl(29, 15%, 35%), hsl(29, 15%, 35%));
		border-image-slice: 1;
	}
	.mozliwosci ul{
		text-align: center;
		padding-bottom: 25px;
		padding-top: 15px;
	}
	.mozliwosci li{
		display: inline;
		font-size: 25px;
		margin:0px 25px;
	}
	.mozliwosci a{
		color: white;
	}
	.wszystkiekawy{
		background-color: hsl(29, 25%, 63%);
		margin:0px 45px 10px;
	}
	.wszystkiekawy img{
		width:170px;
		height:220px;
	}
	.grid_sniadanie{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: repeat(2,357px) ;
	}
	.pojemnik .imgpoj{
		width:170px;
		height:220px;
		padding:0;
		margin:0 5px;
	}
	.pojemnik{
		display: inline-block;
    width: 180px;
    height: 300px;
    padding: 15px;
    margin: 10px 20px;
    overflow: auto;
	}
	.pojemnik > p{
		font-size: 20px;
		padding:20px 0px 0px 0px;
	}
	.pojemnik.c1{
		justify-self: end;
		margin-right:0;
	}
	.pojemnik.c2{
		margin: 0 auto;
		margin-top:10px;
	}
	.pojemnik.c3{
		margin-left:0px;
		justify-self: start;
	}
	.pojemnik.no8{
		grid-area: 2/ 1/ 2/span 2;
		margin-left:40%;
	}
	.pojemnik.no9{
		margin-top:-347px ;
		margin-bottom:30px ;
		margin-left:300px;
	}

	.nadfooter{
		height:185px;
		background-color: #29241E;
		border-top: 1px solid Black;
	}
	.nadfooter li{
		display:block;
		font-size:16px;
		margin:7px 0px;
	}

	.nadfooter .main-li{
	 font-size:22px;
	 padding-bottom:10px;
	 font-size:24px;
	}
	.grid{
		margin: 0px 50px;
		display: grid;
		grid-template-columns: repeat(2, 6fr) 8fr 9fr;
	}
	.box.a, .b, .c, .d{
		font-size: 26px;
		padding-top:30px;
		letter-spacing:2px;
		margin:0px 10px;
	}
	.box .icofont-curved-down{
		display:none;
	}
	.box a:hover{
		text-decoration: underline ;
	}

	.podfooter{
		height:100px;
		background-color: #25201B;
	}
	.podfootergrid{
		display: grid;
		grid-template-columns: 9fr 2fr;
		grid-template-rows: 100px;
	}
	.pfg.p1{
		grid-area: 1 / 1 /span 1/span 1;
	}
	.pfg.p1 p{
		color: #fff;
		padding-top:40px;
		margin-left:80px;
		font-size:20px;
	}
	.pfg.p2{
		grid-area:1/2/span 1/span 1;
	}
	.pfg.p2 li{
		display:inline;
	}
	.icofont-facebook{
		color: hsl(221, 44%, 41%);;
		font-size: 55px;
		float: left;
		margin:22px 10px 23px 30px;
	}

	.icofont-instagram{
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	  -webkit-background-clip: text;
	  background-clip: text;
	  -webkit-text-fill-color: transparent;
		font-size:55px;
		float: left;
		margin:22px 10px ;
	}
}





@media only screen and (min-width:1368px) and (max-width: 1624px){
	*{
		padding:0px;
		margin:0px;
	}

	header{
		width:100%;
		z-index:20;
		border-bottom: 2px solid hsl(0, 0%, 60%);
	}
	header ul{
		background-color: hsla(29, 100%, 13%, 0.9);
		text-align: center;
		padding: 20px 0px;
	}
	header ul:hover{
		border-bottom: 2px solid #fff;
	}
	header li{
		display: inline;
		font-size: 25px;
		margin: 0px 20px;
		letter-spacing:2px;
		font-weight: bold;
	}
	.active{
		color: #000;
	}
	header a{
		text-decoration:none;
		color: hsl(0, 0%, 60%);
	}
	header a:hover{
		color: hsl(0, 10%, 10%);
	}
	.headcon:hover .icofont-beans{
		color: hsl(0, 10%, 10%);
	}
	.headcon:hover a{
		color: hsl(0, 10%, 10%);
	}
	.icofont-beans{
		font-size: 27px;
		color: hsl(0, 0%, 60%);
	}
	header .header-mobile{
		display:none;
	}
	.calazawartosc{
		margin:0px 0px 0px;
	}
	.opis > p{
		margin:0px 20px;
		font-size: 40px;
	}
	.opis .ppytanie{
		padding-top:40px;
		line-height: 50px;
	}
	.mozliwosci{
		border-top:3px solid transparent;
		border-image: linear-gradient(240deg, hsl(29, 15%, 35%), hsl(29, 15%, 35%), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsl(29, 15%, 35%), hsl(29, 15%, 35%));
		border-image-slice: 1;
	}
	.mozliwosci ul{
		text-align: center;
		padding-bottom: 25px;
		padding-top: 15px;
	}
	.mozliwosci li{
		display: inline;
		font-size: 25px;
		margin:0px 25px;
	}
	.mozliwosci a{
		color: white;
	}
	.wszystkiekawy{
		background-color: hsl(29, 25%, 63%);
		margin:0px 45px 10px;
	}
	.wszystkiekawy img{
		width:170px;
		height:220px;
	}
	.pojemnik .imgpoj{
		width:170px;
		height:220px;
		padding:0;
		margin:0 5px;
	}
	.pojemnik{
		display: inline-block;
		width: 180px;
		height: 300px;
		padding: 15px;
		margin: 10px 20px;
		overflow: auto;
	}
	.pojemnik > p{
		font-size: 20px;
		padding:20px 0px 0px 0px;
	}



	.nadfooter{
		height:185px;
		background-color: #29241E;
		border-top: 1px solid Black;
	}
	.nadfooter li{
		display:block;
		font-size:16px;
		margin:7px 0px;
	}

	.nadfooter .main-li{
	 font-size:22px;
	 padding-bottom:10px;
	 font-size:24px;
	}
	.grid{
		margin: 0px 50px;
		display: grid;
		grid-template-columns: repeat(2, 6fr) 8fr 9fr;
	}
	.box.a, .b, .c, .d{
		font-size: 26px;
		padding-top:30px;
		letter-spacing:2px;
		margin:0px 10px;
	}
	.box .icofont-curved-down{
		display:none;
	}
	.box a:hover{
		text-decoration: underline ;
	}

	.podfooter{
		height:100px;
		background-color: #25201B;
	}
	.podfootergrid{
		display: grid;
		grid-template-columns: 9fr 2fr;
		grid-template-rows: 100px;
	}
	.pfg.p1{
		grid-area: 1 / 1 /span 1/span 1;
	}
	.pfg.p1 p{
		color: #fff;
		padding-top:40px;
		margin-left:80px;
		font-size:20px;
	}
	.pfg.p2{
		grid-area:1/2/span 1/span 1;
	}
	.pfg.p2 li{
		display:inline;
	}
	.icofont-facebook{
		color: hsl(221, 44%, 41%);;
		font-size: 55px;
		float: left;
		margin:22px 10px 23px 30px;
	}

	.icofont-instagram{
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size:55px;
		float: left;
		margin:22px 10px ;
	}
}
