*{
	padding:0px;
	margin:0px;
}
body{
	background-color: hsl(29, 15%, 35%);
}
header{
	width:100%;
	position: fixed;
	z-index:20;
	border-bottom: 2px solid hsl(0, 0%, 60%);
}
header ul{
	background-color: hsla(29, 100%, 13%, 0.9);
	text-align: center;
	padding: 20px 0px;
}
header ul:hover{
	border-bottom: 2px solid #fff;
}
header li{
	display: inline;
	font-size: 25px;
	margin: 0px 20px;
	letter-spacing:2px;
	font-weight: bold;
}
.active{
	color: #000;
}
header a{
	text-decoration:none;
	color: hsl(0, 0%, 60%);
}
header a:hover{
	color: hsl(0, 10%, 10%);
}
.headcon:hover .icofont-beans{
	color: hsl(0, 10%, 10%);
}
.headcon:hover a{
	color: hsl(0, 10%, 10%);
}
.icofont-beans{
	font-size: 27px;
	color: hsl(0, 0%, 60%);
}
header .header-mobile{
	display:none;
}
#kawpod, #kawmro, #m_sniadanie, #dese{
	padding-top:65px;
	padding-bottom:-65px;
}

.pustydiv{
	padding-top: 70px;
	background-color:hsl(29, 25%, 63%);
}
.calazawartosc{
	padding-top: 35px;
	margin:0px 150px 10px 150px;
	background-color: hsl(29, 15%, 35%);
}
.opis{
	font-size: 45px;
	text-align: center;
	line-height: 50px;
	color: hsl(29, 25%, 80%);
	font-family: "Caveat";
}
.opis .ppytanie{
	line-height: 110px;
}

.mozliwosci{
	border-top:3px solid transparent;
	border-image: linear-gradient(240deg, hsl(29, 15%, 35%), hsl(29, 15%, 35%), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsl(29, 15%, 35%), hsl(29, 15%, 35%));
	border-image-slice: 1;
}

.mozliwosci ul{
	text-align: center;
	padding-bottom: 25px;
	padding-top: 15px;
}
.mozliwosci li{
	display: inline;
	font-size: 25px;
	margin:0px 25px;
}
.mozliwosci a{
	color: white;
}
.mozliwosci a:hover{
	color: hsl(29, 100%, 13%);
}

.wszystkiekawy{
	display: inline-block;
	padding-top: 30px;
	text-align: center;
	border-top:2px solid hsl(29, 25%, 63%);
	margin-bottom:50px;
	background-color: hsl(29, 25%, 63%);
}
.description {
	padding-top: 30px;
	padding-bottom:30px;
	text-align: center;
	font-size:40px;
}


.pojemnik{
	display: inline-block;
	width: 210px;
	height: 335px;
	padding:15px;
	margin:20px 40px;
	overflow: auto;
	border: 2px solid hsla(0, 0%, 0%, 0.2);
	border-image: linear-gradient(57deg, hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9), hsla(29, 25%, 63%,0), hsla(29, 25%, 63%,0), hsla(29, 100%, 13%, 0.9));
	border-image-slice: 1;
}

.paragraphpoj{
	height:80px;
}
.paragraphpoj p{
	font-size: 25px;
	padding-top:20px;
	padding-bottom: 5px;
	color: hsl(0,0%,0%);
	margin-bottom:4px;
}
.imgpoj{
	width: 200px;
	padding-left:7px;
}

.nadfooter{
	height:200px;
	background-color: #29241E;
	border-top: 1px solid Black;
}
.nadfooter li{
	display:block;
	font-size:16px;
}

.nadfooter .main-li{
 font-size:26px;
 padding-bottom:10px;
}
.nadfooter a{
	color: #fff;
}
.nadfooter a:hover{
	color: hsl(29, 25%, 63%);
}
.grid{
	margin: 0px 200px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.box.a, .b, .c, .d{
	font-size: 26px;
	padding-top:30px;
	letter-spacing:2px;
}
.box .icofont-curved-down{
	display:none;
}
.box a:hover{
	text-decoration: underline ;
}
.podfooter{
	height:100px;
	background-color: #25201B;
}
.podfootergrid{
	display: grid;
	grid-template-columns: 17fr 3fr;
	grid-template-rows: 100px;
}
.pfg.p1{
	grid-area: 1 / 1 /span 1/span 1;
}
.pfg.p1 p{
	color: #fff;
	padding-top:40px;
	margin-left:80px;
}
.pfg.p2{
	grid-area:1/2/span 1/span 1;
}
.pfg.p2 li{
	display:inline;
}
.icofont-facebook{
	color:#fff;
	font-size: 55px;
	float: left;
	margin:22px 10px 23px 30px;
}
.icofont-facebook:hover{
	color: hsl(221, 44%, 41%);
}

.icofont-instagram{
	color:#fff;
	font-size:55px;
	float: left;
	margin:22px 10px ;
}
.icofont-instagram:hover{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
a{
	text-decoration:none;
	color: hsl(0, 0%, 60%);
}
a:hover{
	color:#000;
}






@media only screen and (max-width:356px){
	*{
		padding:0px;
		margin:0px;
	}
	header .header-SDdesk{
		display:none;
	}
	.nav-bar-mob{
		display: inline;
		float:right;
		margin:5px 0px 0px;
	}
	.icofont-navigation-menu{
		font-size:40px;
		color:black;
	}
	.menu-li{
		padding-bottom:10px;
		text-align: center;
		background-color: hsla(29, 100%, 13%, 0.9);
		border: none;
	}
	.menu-li a{
		font-size:40px;
		padding-bottom: 20px;
	}

	.menu {
		background-color: hsl(29, 45%, 23%);
		transform:scaleY(0);
		transform-origin:top;
		margin-top: -1px;
	}
	.icofont-beans{
		margin-left:0px;
	}
	header .header-mobile{
		text-align: center;
		display:block;
		position:fixed;
		width:100%;
		margin-top:0;
		top:0;
		left:0;
	}
	header .header-mobile ul{
		padding-top:5px;
		padding-bottom:5px;
		border:none;
		background-color: hsla(29, 100%, 13%, 0.9);
	}
	header li{
		padding:0px 0px 10px 0px;
		display:block;
	}
	.pustydiv{
		display:none;
	}

	.calazawartosc{
		margin:30px 0px 0px;
	}
	.opis > p{
		margin:0px 20px;
		font-size: 40px;
	}
	.opis .ppytanie{
		padding-top:40px;
		line-height: 50px;
	}
	.mozliwosci{
		border-top:3px solid transparent;
		border-image: linear-gradient(90deg,  hsl(29, 15%, 35%), hsl(29, 25%, 63%),  hsl(29, 15%, 35%));
		border-image-slice: 1;
	}
	.mozliwosci ul{
		text-align: center;
		padding-bottom: 25px;
		padding-top: 15px;
	}
	.mozliwosci li{
		display: block;
		font-size: 25px;
		margin:0px;
		padding:10px 0px;
	}
	.wszystkiekawy{
		background-color: hsl(29, 25%, 63%);
		margin:0px;
	}
	.wszystkiekawy img{
		width:110px;
		height:145px;
	}
	.pojemnik .imgpoj{
		width:130px;
		height:145px;
		padding:0 1px;
	}
	.pojemnik{
		text-align: center;
		display: inline-block;
		width: 130px;
		height: 240px;
		padding: 7px;
		margin: 10px 0px;
		overflow: auto;
	}
	.pojemnik.no1{
		margin-left:0px;
		margin-right:0px;
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(57deg, hsla(29, 100%, 13%, 0.9), hsla(29, 25%, 63%,0), hsla(29, 25%, 63%,0), hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.pojemnik.no2{
		margin-right:0px;
		margin-left:0px;
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(57deg, hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9), hsla(29, 25%, 63%,0), hsla(29, 25%, 63%,0), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.pojemnik.no3{
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(55deg, hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.paragraphpoj{
		height:60px;
	}
	.paragraphpoj p{
		font-size: 20px;
	}
	.nadfooter{
		height:auto;
		padding: 0;
		background-color: #29241E;
	}
	.grid{
		display: block;
		margin:10px;
	}
	.box ul{
		padding:0px;
		transform:ScaleY(0);
		transform-origin:top;
	}
	.box li{
		padding-bottom:5px;
		margin:0px 15px;
	}
	.box h3{
		margin:0px 15px;
	}
	.box .icofont-curved-down{
		float:right;
		font-size: 35px;
		color:white;
		background-color: inherit;
		border:none;
		display:inline;
	}
	.box.a, .b, .c, .d{
		width:100%;
		font-size: 26px;
		padding:0px 0px;
		letter-spacing:2px;
		height:40px;
	}
	.box.active{
		height:auto;
	}
	.box.active ul{
		transform:ScaleY(1);
		padding-bottom: 10px;
	}
	.podfooter{
		margin-top:-10px;
	}
	.podfootergrid{
		grid-template-columns: 7fr 5fr;
	}
	.pfg.p1 p{
		margin-left:20px;
	}
	.icofont-instagram{
		font-size:35px;
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.icofont-facebook{
		float:right;
		font-size:35px;
		margin-left:0px;
		color: hsl(221, 44%, 41%);
	}
}








@media only screen and (max-width: 518px) and (min-width:357px){

  *{
		padding:0px;
		margin:0px;
	}
	header .header-SDdesk{
		display:none;
	}
	.nav-bar-mob{
		display: inline;
		float:right;
		margin:5px 0px 0px;
	}
	.icofont-navigation-menu{
		font-size:40px;
		color:black;
	}
	.menu-li{
		padding-bottom:10px;
		text-align: center;
		background-color: hsla(29, 100%, 13%, 0.9);
		border: none;
	}
	.menu-li a{
		font-size:40px;
		padding-bottom: 20px;
	}

	.menu {
		background-color: hsl(29, 45%, 23%);
		transform:scaleY(0);
		transform-origin:top;
		margin-top: -1px;
	}
	.icofont-beans{
		margin-left:0px;
	}
	header .header-mobile{
		text-align: center;
		display:block;
		position:fixed;
		width:100%;
		margin-top:0;
		top:0;
		left:0;
	}
	header .header-mobile ul{
		padding-top:5px;
		padding-bottom:5px;
		border:none;
		background-color: hsla(29, 100%, 13%, 0.9);
	}
	header li{
		padding:0px 0px 10px 0px;
		display:block;
	}
	.pustydiv{
		display:none;
	}

	.calazawartosc{
		margin:30px 0px 0px;
	}
	.opis > p{
		margin:0px 20px;
		font-size: 40px;
	}
	.opis .ppytanie{
		padding-top:40px;
		line-height: 50px;
	}
	.mozliwosci{
		border-top:3px solid transparent;
		border-image: linear-gradient(90deg,  hsl(29, 15%, 35%), hsl(29, 25%, 63%),  hsl(29, 15%, 35%));
		border-image-slice: 1;
	}
	.mozliwosci ul{
		text-align: center;
		padding-bottom: 25px;
		padding-top: 15px;
	}
	.mozliwosci li{
		display: block;
		font-size: 25px;
		margin:0px;
		padding:10px 0px;
	}
	.wszystkiekawy{
		background-color: hsl(29, 25%, 63%);
		margin:0px;
	}
	.wszystkiekawy img{
		width:110px;
		height:145px;
	}
	.pojemnik .imgpoj{
		width:130px;
		height:145px;
		padding:0 5px;
	}
	.pojemnik{
		text-align: center;
		display: inline-block;
    width: 140px;
    height: 240px;
    padding: 7px;
    margin: 10px 0px;
    overflow: auto;
	}
	.pojemnik.no1{
		margin-left:0px;
		margin-right:10px;
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(57deg, hsla(29, 100%, 13%, 0.9), hsla(29, 25%, 63%,0), hsla(29, 25%, 63%,0), hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.pojemnik.no2{
		margin-right:0px;
		margin-left:10px;
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(57deg, hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9), hsla(29, 25%, 63%,0), hsla(29, 25%, 63%,0), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.pojemnik.no3{
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(55deg, hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.paragraphpoj{
		height:60px;
	}
	.paragraphpoj p{
		font-size: 20px;
	}


	.nadfooter{
		height:auto;
		padding: 0;
		background-color: #29241E;
	}
	.grid{
		display: block;
		margin:10px;
	}
	.box ul{
		padding:0px;
		transform:ScaleY(0);
		transform-origin:top;
	}
	.box li{
		padding-bottom:5px;
		margin:0px 15px;
	}
	.box h3{
		margin:0px 15px;
	}
	.box .icofont-curved-down{
		float:right;
		font-size: 35px;
		color:white;
		background-color: inherit;
		border:none;
		display:inline;
	}
	.box.a, .b, .c, .d{
		width:100%;
		font-size: 26px;
		padding:0px 0px;
		letter-spacing:2px;
		height:40px;
	}
	.box.active{
		height:auto;
	}
	.box.active ul{
		transform:ScaleY(1);
		padding-bottom: 10px;
	}
	.podfooter{
		margin-top:-10px;
		background-color: #25201B;
	}
	.podfootergrid{
		grid-template-columns: 7fr 3fr;
	}
	.pfg.p1 p{
		margin-left:20px;
	}
	.icofont-instagram{
		font-size:35px;
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	  -webkit-background-clip: text;
	  background-clip: text;
	  -webkit-text-fill-color: transparent;
	}
	.icofont-facebook{
		float:right;
		font-size:35px;
		margin-left:0px;
		color: hsl(221, 44%, 41%);
	}
}









@media only screen and (min-width:519px) and (max-width: 760px){
  *{
		padding:0px;
		margin:0px;
	}
	header .header-SDdesk{
		display:none;
	}
	.nav-bar-mob{
		display: inline;
		float:right;
		margin:5px 0px 0px;
	}
	.icofont-navigation-menu{
		font-size:40px;
		color:black;
	}
	.menu-li{
		padding-bottom:10px;
		text-align: center;
		background-color: hsla(29, 100%, 13%, 0.9);
		border: none;
	}
	.menu-li a{
		font-size:40px;
		padding-bottom: 20px;
	}
	.menu {
		background-color: hsl(29, 45%, 23%);
		transform:scaleY(0);
		transform-origin:top;
		margin-top: -1px;
	}
	.icofont-beans{
		margin-left:0px;
	}
	header .header-mobile{
		text-align: center;
		display:block;
		position:fixed;
		width:100%;
		margin-top:0;
		top:0;
		left:0;
	}
	header .header-mobile ul{
		padding-top:5px;
		padding-bottom:5px;
		border:none;
		background-color: hsla(29, 100%, 13%, 0.9);
	}
	header li{
		padding:0px 0px 10px 0px;
		display:block;
	}
	.pustydiv{
		display:none;
	}
	.calazawartosc{
		margin:30px 0px 0px;
	}
	.opis > p{
		margin:0px 20px;
		font-size: 40px;
	}
	.opis .ppytanie{
		padding-top:40px;
		line-height: 50px;
	}
	.mozliwosci{
		border-top:3px solid transparent;
		border-image: linear-gradient(90deg,  hsl(29, 15%, 35%), hsl(29, 25%, 63%),  hsl(29, 15%, 35%));
		border-image-slice: 1;
	}
	.mozliwosci ul{
		text-align: center;
		padding-bottom: 25px;
		padding-top: 15px;
	}
	.mozliwosci li{
		display: block;
		font-size: 25px;
		margin:0px;
		padding:10px 0px;
	}
	.wszystkiekawy{
		background-color: hsl(29, 25%, 63%);
		margin:0px 45px 10px;
	}
	.wszystkiekawy img{
		width:140px;
		height:175px;
	}
	.pojemnik .imgpoj{
		width:160px;
		height:175px;
		padding:0;
		margin-left:-5px;
	}
	.pojemnik{
		display: inline-block;
    width: 150px;
    height: 250px;
    padding: 15px;
    margin: 10px 10px;
    overflow: auto;
	}
	.pojemnik.no1{
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(57deg, hsla(29, 100%, 13%, 0.9), hsla(29, 25%, 63%,0), hsla(29, 25%, 63%,0), hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.pojemnik.no2{
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(57deg, hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9), hsla(29, 25%, 63%,0), hsla(29, 25%, 63%,0), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.pojemnik.no3{
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(55deg, hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.paragraphpoj{
		height:60px;
	}
	.paragraphpoj p{
		font-size: 20px;
	}


	.nadfooter{
		height:auto;
		padding: 0;
		margin-bottom:-10px;
		background-color: #29241E;
	}
	.grid{
		display: block;
		margin:10px;
	}
	.box ul{
		padding:0px;
		transform:ScaleY(0);
		transform-origin:top;
	}
	.box li{
		padding-bottom:5px;
		margin:0px 15px;
	}
	.box h3{
		margin:0px 15px;
	}
	.box.a, .b, .c, .d{
		width:100%;
		font-size: 26px;
		padding:0px 0px;
		letter-spacing:2px;
		height:45px;
	}
	.box .icofont-curved-down{
		float:right;
		font-size: 35px;
		color:white;
		background-color: inherit;
		border:none;
		display:inline;
		padding:7px;
		margin-top:-6px;
	}
	.box.active{
		height:auto;
	}
	.box.active ul{
		transform:ScaleY(1);
		padding-bottom: 10px;
	}
	.podfooter{
		background-color: #25201B;
	}
	.podfootergrid{
		grid-template-columns: 10fr 4fr;
	}
	.pfg.p1 p{
		margin-left:20px;
	}
	.icofont-instagram{
		font-size:45px;
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	  -webkit-background-clip: text;
	  background-clip: text;
	  -webkit-text-fill-color: transparent;
	}
	.icofont-facebook{
		float:right;
		font-size:45px;
		margin-left:0px;
		margin-right:30px;
		color: hsl(221, 44%, 41%);
	}
}










@media only screen and (min-width:761px) and (max-width: 1000px){
  *{
		padding:0px;
		margin:0px;
	}

	header{
		width:100%;
		position: fixed;
		z-index:20;
		border-bottom: 2px solid hsl(0, 0%, 60%);
	}
	header ul{
		background-color: hsla(29, 100%, 13%, 0.9);
		text-align: center;
		padding: 20px 0px;
	}
	header ul:hover{
		border-bottom: 2px solid #fff;
	}
	header li{
		display: inline;
		font-size: 25px;
		margin: 0px 20px;
		letter-spacing:2px;
		font-weight: bold;
	}

	.active{
		color: #000;
	}
	header a{
		text-decoration:none;
		color: hsl(0, 0%, 60%);
	}
	header a:hover{
		color: hsl(0, 10%, 10%);
	}
	.headcon:hover .icofont-beans{
		color: hsl(0, 10%, 10%);
	}
	.headcon:hover a{
		color: hsl(0, 10%, 10%);
	}
	.icofont-beans{
		font-size: 27px;
		color: hsl(0, 0%, 60%);
	}
	header .header-mobile{
		display:none;
	}

	.calazawartosc{
		margin:0px 0px 0px;
	}
	.opis > p{
		margin:0px 20px;
		font-size: 40px;
	}
	.opis .ppytanie{
		padding-top:40px;
		line-height: 50px;
	}
	.mozliwosci{
		border-top:3px solid transparent;
		border-image: linear-gradient(240deg, hsl(29, 15%, 35%), hsl(29, 15%, 35%), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsl(29, 15%, 35%), hsl(29, 15%, 35%));
		border-image-slice: 1;
	}
	.mozliwosci ul{
		text-align: center;
		padding-bottom: 25px;
		padding-top: 15px;
	}
	.mozliwosci li{
		display: inline;
		font-size: 25px;
		margin:0px 25px;
	}
	.mozliwosci a{
		color: white;
	}
	.wszystkiekawy{
		background-color: hsl(29, 25%, 63%);
		margin:0px 45px 10px;
	}
	.wszystkiekawy img{
		width:140px;
		height:175px;
	}
	.pojemnik .imgpoj{
		width:160px;
		height:175px;
		padding:0;
		margin-left:-5px;
	}
	.pojemnik{
		display: inline-block;
    width: 150px;
    height: 250px;
    padding: 15px;
    margin: 10px 10px;
    overflow: auto;
	}
	.pojemnik.no1{
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(57deg, hsla(29, 100%, 13%, 0.9), hsla(29, 25%, 63%,0), hsla(29, 25%, 63%,0), hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.pojemnik.no2{
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(57deg, hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9), hsla(29, 25%, 63%,0), hsla(29, 25%, 63%,0), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.pojemnik.no3{
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(55deg, hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.paragraphpoj{
		height:60px;
	}
	.paragraphpoj p{
		font-size: 20px;
	}


	.nadfooter{
		height:165px;
		background-color: #29241E;
		border-top: 1px solid Black;
	}
	.nadfooter li{
		display:block;
		font-size:13px;
		margin:7px 0px;
	}

	.nadfooter .main-li{
	 font-size:22px;
	 padding-bottom:10px;
	}
	.grid{
		margin: 0px 50px;
		display: grid;
		grid-template-columns: repeat(2, 6fr) 8fr 9fr;
	}
	.box.a, .b, .c, .d{
		font-size: 26px;
		padding-top:30px;
		letter-spacing:2px;
		margin:0px 10px;
	}
	.box .icofont-curved-down{
		display:none;
	}
	.box a:hover{
		text-decoration: underline ;
	}

	.podfooter{
		height:100px;
		background-color: #25201B;
	}
	.podfootergrid{
		display: grid;
		grid-template-columns: 10fr 3fr;
		grid-template-rows: 100px;
	}
	.pfg.p1{
		grid-area: 1 / 1 /span 1/span 1;
	}
	.pfg.p1 p{
		color: #fff;
		padding-top:40px;
		margin-left:80px;
	}
	.pfg.p2{
		grid-area:1/2/span 1/span 1;
	}
	.pfg.p2 li{
		display:inline;
	}
	.icofont-facebook{
		color: hsl(221, 44%, 41%);;
		font-size: 55px;
		float: left;
		margin:22px 10px 23px 30px;
	}
	.icofont-instagram{
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	  -webkit-background-clip: text;
	  background-clip: text;
	  -webkit-text-fill-color: transparent;
		font-size:55px;
		float: left;
		margin:22px 10px ;
	}
}





@media only screen and (min-width:1001px) and (max-width: 1367px){
	*{
		padding:0px;
		margin:0px;
	}

	header{
		width:100%;
		position: fixed;
		z-index:20;
		border-bottom: 2px solid hsl(0, 0%, 60%);
	}
	header ul{
		background-color: hsla(29, 100%, 13%, 0.9);
		text-align: center;
		padding: 20px 0px;
	}
	header ul:hover{
		border-bottom: 2px solid #fff;
	}
	header li{
		display: inline;
		font-size: 25px;
		margin: 0px 20px;
		letter-spacing:2px;
		font-weight: bold;
	}
	.active{
		color: #000;
	}
	header a{
		text-decoration:none;
		color: hsl(0, 0%, 60%);
	}
	header a:hover{
		color: hsl(0, 10%, 10%);
	}
	.headcon:hover .icofont-beans{
		color: hsl(0, 10%, 10%);
	}
	.headcon:hover a{
		color: hsl(0, 10%, 10%);
	}
	.icofont-beans{
		font-size: 27px;
		color: hsl(0, 0%, 60%);
	}
	header .header-mobile{
		display:none;
	}
	.calazawartosc{
		margin:0px 0px 0px;
	}
	.opis > p{
		margin:0px 20px;
		font-size: 40px;
	}
	.opis .ppytanie{
		padding-top:40px;
		line-height: 50px;
	}
	.mozliwosci{
		border-top:3px solid transparent;
		border-image: linear-gradient(240deg, hsl(29, 15%, 35%), hsl(29, 15%, 35%), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsl(29, 15%, 35%), hsl(29, 15%, 35%));
		border-image-slice: 1;
	}
	.mozliwosci ul{
		text-align: center;
		padding-bottom: 25px;
		padding-top: 15px;
	}
	.mozliwosci li{
		display: inline;
		font-size: 25px;
		margin:0px 25px;
	}
	.mozliwosci a{
		color: white;
	}
	.wszystkiekawy{
		background-color: hsl(29, 25%, 63%);
		margin:0px 45px 10px;
	}
	.wszystkiekawy img{
		width:170px;
		height:220px;
	}
	.pojemnik .imgpoj{
		width:170px;
		height:220px;
		padding:0;
		margin:0 5px;
	}
	.pojemnik{
		display: inline-block;
    width: 180px;
    height: 280px;
    padding: 15px;
    margin: 10px 20px;
    overflow: auto;
	}
	.pojemnik.no1{
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(57deg, hsla(29, 100%, 13%, 0.9), hsla(29, 25%, 63%,0), hsla(29, 25%, 63%,0), hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.pojemnik.no2{
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(57deg, hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9), hsla(29, 25%, 63%,0), hsla(29, 25%, 63%,0), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.pojemnik.no3{
		border: 2px solid hsla(0, 0%, 0%, 0.2);
		border-image: linear-gradient(55deg, hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9), hsl(29, 25%, 63%), hsl(29, 25%, 63%), hsla(29, 100%, 13%, 0.9));
		border-image-slice: 1;
	}
	.paragraphpoj{
		height:60px;
	}
	.paragraphpoj p{
		font-size: 20px;
	}


	.nadfooter{
		height:185px;
		background-color: #29241E;
		border-top: 1px solid Black;
	}
	.nadfooter li{
		display:block;
		font-size:16px;
		margin:7px 0px;
	}

	.nadfooter .main-li{
	 font-size:22px;
	 padding-bottom:10px;
	 font-size:24px;
	}
	.grid{
		margin: 0px 50px;
		display: grid;
		grid-template-columns: repeat(2, 6fr) 8fr 9fr;
	}
	.box.a, .b, .c, .d{
		font-size: 26px;
		padding-top:30px;
		letter-spacing:2px;
		margin:0px 10px;
	}
	.box .icofont-curved-down{
		display:none;
	}
	.box a:hover{
		text-decoration: underline ;
	}

	.podfooter{
		height:100px;
		background-color: #25201B;
	}
	.podfootergrid{
		display: grid;
		grid-template-columns: 9fr 2fr;
		grid-template-rows: 100px;
	}
	.pfg.p1{
		grid-area: 1 / 1 /span 1/span 1;
	}
	.pfg.p1 p{
		color: #fff;
		padding-top:40px;
		margin-left:80px;
		font-size:20px;
	}
	.pfg.p2{
		grid-area:1/2/span 1/span 1;
	}
	.pfg.p2 li{
		display:inline;
	}
	.icofont-facebook{
		color: hsl(221, 44%, 41%);;
		font-size: 55px;
		float: left;
		margin:22px 10px 23px 30px;
	}

	.icofont-instagram{
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	  -webkit-background-clip: text;
	  background-clip: text;
	  -webkit-text-fill-color: transparent;
		font-size:55px;
		float: left;
		margin:22px 10px ;
	}
}
